<h1 align="center"><b>Trabalho 01  – Técnicas de Anonimização – Generalização<b></h1>
<h1 align="center">
    <a href="https://si3.ufc.br/sigaa/portais/discente/discente.jsf">Davi Oliveira Lopes - Matrícula: 543049</a>
</h1>
<h1 align="center">
    <a href="https://cc.ufc.br/curso/corpo-docente/javam-machado/"> Professor: Javam Machado</a>
</h1>

<a href="https://github.com/daviolp">
<img src="https://img.shields.io/static/v1?label=GitHub&message=daviolp&color=7159c1&style=for-the-badge&logo=ghost"/>

# ***Primeira Etapa***

### ***Importações e Instalação dos Pacotes Necessários***

In [ ]:
pip install tk

In [ ]:
pip install pandastable

In [24]:
import pandas as pd
import numpy as np
from tkinter import *
from tkinter.ttk import *
from pandastable import Table, TableModel

### ***Leitura e Tratamento do Dataset de Covid para Aplicação das Técnicas de Anonimização.***

In [4]:
df_covid = pd.read_csv('covid.csv', sep=';')
df_covid.drop(columns='Unnamed: 0', inplace=True)
#-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
df_covid['CodigoMunicipio'] = df_covid['CodigoMunicipio'].astype(int)
df_covid.head()

,Identificador,CodigoMunicipio,Municipio,Estado,Genero,Nascimento,ResultadoExame
0,c3ba634113e4b5eb0e3eaae93b09759b,231290,SOBRAL,CE,MASCULINO,2003-08-14,Negativo
1,ac84809bfc89b992a0a0221e50b135c0,230960,PACAJUS,CE,MASCULINO,1983-11-07,Negativo
2,28ccfaa0c53b792cd1ffa0b7e535f617,230523,HORIZONTE,CE,FEMININO,1982-01-14,Negativo
3,9683fc5fd2c0f7b72fa92ffd259d738a,230440,FORTALEZA,CE,MASCULINO,1992-03-12,Negativo
4,e257ccdc48289f02e047cbf046251319,230370,CAUCAIA,CE,MASCULINO,1970-03-06,Negativo

### ***Leitura e Tratamento do Dataset de Regiões para Mesclagem e Aplicação das Técnicas de Anonimização.***

In [5]:
df_regioes = pd.read_csv('regioes.csv')
df_regioes.drop(columns='Unnamed: 0', inplace=True)
df_regioes.rename(columns={'Código IBGE do Município': 'CodigoMunicipio'}, inplace=True)
df_regioes.head()

,CodigoMunicipio,Nome da Mesoregião,Sigla da Unidade da Federação,Nome das Grandes Regiões
0,230010,Sul Cearense,CE,Nordeste
1,230015,Norte Cearense,CE,Nordeste
2,230020,Noroeste Cearense,CE,Nordeste
3,230030,Sertões Cearenses,CE,Nordeste
4,230040,Sertões Cearenses,CE,Nordeste

### ***Junção dos 2 Datasets para realizar as Generalizações.***

In [6]:
df_covid_and_regioes = pd.merge(df_covid, df_regioes, on="CodigoMunicipio", how="outer")
df_covid_and_regioes.head()

,Identificador,CodigoMunicipio,Municipio,Estado,Genero,Nascimento,ResultadoExame,Nome da Mesoregião,Sigla da Unidade da Federação,Nome das Grandes Regiões
0,c3ba634113e4b5eb0e3eaae93b09759b,231290,SOBRAL,CE,MASCULINO,2003-08-14,Negativo,Noroeste Cearense,CE,Nordeste
1,8db897c909c1c246b56ee491e0df994f,231290,SOBRAL,CE,MASCULINO,1989-12-28,Negativo,Noroeste Cearense,CE,Nordeste
2,17997c9bd21d9931ea130f1ca65236e9,231290,SOBRAL,CE,FEMININO,2000-07-08,Negativo,Noroeste Cearense,CE,Nordeste
3,25e5850e62482886d70efb3f8438aaa7,231290,SOBRAL,CE,FEMININO,1954-03-20,Negativo,Noroeste Cearense,CE,Nordeste
4,de7400d331c8521d71baa53409d8b4f8,231290,SOBRAL,CE,MASCULINO,2002-12-06,Negativo,Noroeste Cearense,CE,Nordeste

### ***Função de Anonimização da Coluna 'Municipio'.***

In [7]:
for cod_muni in df_covid_and_regioes.CodigoMunicipio.unique():
    df_covid_and_regioes['Municipio'] = df_covid_and_regioes['Nome da Mesoregião']

In [8]:
df_covid_and_regioes_new = df_covid_and_regioes.drop(columns=['Nome da Mesoregião','Sigla da Unidade da Federação','Nome das Grandes Regiões'])
df_covid_and_regioes_new

,Identificador,CodigoMunicipio,Municipio,Estado,Genero,Nascimento,ResultadoExame
0,c3ba634113e4b5eb0e3eaae93b09759b,231290,Noroeste Cearense,CE,MASCULINO,2003-08-14,Negativo
1,8db897c909c1c246b56ee491e0df994f,231290,Noroeste Cearense,CE,MASCULINO,1989-12-28,Negativo
2,17997c9bd21d9931ea130f1ca65236e9,231290,Noroeste Cearense,CE,FEMININO,2000-07-08,Negativo
3,25e5850e62482886d70efb3f8438aaa7,231290,Noroeste Cearense,CE,FEMININO,1954-03-20,Negativo
4,de7400d331c8521d71baa53409d8b4f8,231290,Noroeste Cearense,CE,MASCULINO,2002-12-06,Negativo
...,...,...,...,...,...,...,...
879538,8ca78bc532162483be4b9ec4c4bc5e64,231123,Jaguaribe,CE,FEMININO,1974-09-29,Negativo
879539,112a5ad7b915503baca248adcd32c6f5,231123,Jaguaribe,CE,MASCULINO,1941-08-20,Negativo
879540,4b3a7183752a62c90e2f59cac1d8a984,231123,Jaguaribe,CE,FEMININO,1984-02-29,Positivo
879541,3072ba3050b62e29449eca68420a3983,231123,Jaguaribe,CE,FEMININO,1991-07-04,Positivo
879542,9e3f99aa4a42ed405787b76f72291058,231123,Jaguaribe,CE,MASCULINO,1997-01-05,Negativo

### ***Exportando o Dataset Anonimizado 01 Conforme Solicitado no Formato CSV.***

In [9]:
df_covid_and_regioes_new.to_csv('covid_anon01.csv', index=None)

# ***Segunda Etapa***

### ***Visualização da Coluna 'Nascimento' do Dataset.***

In [10]:
df_covid['Nascimento']

0         2003-08-14
1         1983-11-07
2         1982-01-14
3         1992-03-12
4         1970-03-06
             ...
879538    1982-12-08
879539    1980-12-02
879540    1988-05-17
879541    1970-09-28
879542    1998-12-14
Name: Nascimento, Length: 879543, dtype: object

### ***Processo de Anonimização da Coluna Nascimento para o Nível 01.***

In [11]:
df_covid['Nascimento'] = df_covid['Nascimento'].str[0:7]

### ***Alocando Variável ao Dataset Anonimizado para a Coluna 'Nascimento'.***

In [12]:
df_covid_nasc_level01 = df_covid
df_covid_nasc_level01

,Identificador,CodigoMunicipio,Municipio,Estado,Genero,Nascimento,ResultadoExame
0,c3ba634113e4b5eb0e3eaae93b09759b,231290,SOBRAL,CE,MASCULINO,2003-08,Negativo
1,ac84809bfc89b992a0a0221e50b135c0,230960,PACAJUS,CE,MASCULINO,1983-11,Negativo
2,28ccfaa0c53b792cd1ffa0b7e535f617,230523,HORIZONTE,CE,FEMININO,1982-01,Negativo
3,9683fc5fd2c0f7b72fa92ffd259d738a,230440,FORTALEZA,CE,MASCULINO,1992-03,Negativo
4,e257ccdc48289f02e047cbf046251319,230370,CAUCAIA,CE,MASCULINO,1970-03,Negativo
...,...,...,...,...,...,...,...
879538,034184a3bba5a9d9020c6f78287cfb30,230440,FORTALEZA,CE,FEMININO,1982-12,Positivo
879539,7f4c28d219dd03de2457b16de64563a0,230440,FORTALEZA,CE,FEMININO,1980-12,Negativo
879540,4f8257be1fefe7e9a3b17f08247792c6,230440,FORTALEZA,CE,FEMININO,1988-05,Provável
879541,2b610df8ede251af2e17a6ac07726678,230410,CRATEUS,CE,FEMININO,1970-09,Negativo
879542,d4ba826d7f018ef730718faf76668d73,230730,JUAZEIRO DO NORTE,CE,FEMININO,1998-12,Positivo

### ***Exportando o Dataset Anonimizado 02 Conforme Solicitado no Formato CSV.***

In [13]:
df_covid_nasc_level01.to_csv('covid_anon02.csv', index=None)

# ***Terceira Etapa***

### ***Realizando o Filtro das Idades dos Nascidos entre 1950 e 1959.***

In [14]:
filtro = df_covid[df_covid['Nascimento'].apply(lambda x : x > '1950' and x < '1960')]
indices = filtro.index
indices

Int64Index([    26,     36,     39,     64,     88,     95,    148,    163,
               215,    223,
            ...
            879415, 879421, 879457, 879459, 879518, 879519, 879527, 879528,
            879535, 879536],
           dtype='int64', length=63473)

### ***Realizando a Anonimização Solicitada na Faixa Etária de 1950 a 1959.***

In [15]:
df_covid.iloc[indices, 5] = df_covid.iloc[indices, 5].str[0:4]

### ***Visualizando as Datas Solicitadas e Generalizadas Conforme Orientado.***

In [16]:
df_covid.iloc[25:40]

,Identificador,CodigoMunicipio,Municipio,Estado,Genero,Nascimento,ResultadoExame
25,f57642a8b13df45566d70e7123436052,230420,CRATO,CE,MASCULINO,1997-04,Negativo
26,59a4c19d253d1b828cd4d8bdece99b20,230420,CRATO,CE,FEMININO,1951,Negativo
27,c92d9d7d4f281c43f1badd4c888542c5,230420,CRATO,CE,FEMININO,1999-09,Negativo
28,e33a98162726bcfd58f112b0bd078757,230420,CRATO,CE,MASCULINO,1981-11,Negativo
29,65be5c9c19e063a04f6ae2d93d2dfc99,230440,FORTALEZA,CE,FEMININO,1995-12,Negativo
30,7bb88677f65cbb3a7210ce9cb621c6c0,231240,SAO GONCALO DO AMARANTE,CE,MASCULINO,2001-09,Negativo
31,b88bf5fcae367ea08f816961c48d7bf8,230440,FORTALEZA,CE,FEMININO,1978-01,Negativo
32,c3e28d5d154c32ed203e68b808f8bf7d,230440,FORTALEZA,CE,FEMININO,1961-03,Negativo
33,7967edc2a0729bd69fa5a13ceefe9db6,230440,FORTALEZA,CE,FEMININO,1969-12,Negativo
34,24883be64fea07938c53138a0cbb44a7,230440,FORTALEZA,CE,FEMININO,1988-06,Negativo
35,ae2ce2229fdd605889bccec05c944772,230440,FORTALEZA,CE,FEMININO,1972-01,Negativo
36,003eec03de0e4238f952fdeaded2d1ea,230440,FORTALEZA,CE,FEMININO,1950,Negativo
37,56d65b73541ec04934bae0fa0ab0464a,231250,SAO JOAO DO JAGUARIBE,CE,FEMININO,1969-12,Negativo
38,a59e3bc2c92e22767523a3e08647033a,231020,PARACURU,CE,FEMININO,1991-10,Negativo
39,a217cd36abf47833ea26d78629e4af94,231090,PIQUET CARNEIRO,CE,FEMININO,1953,Negativo

### ***Exportando o Dataset Anonimizado 03 Conforme Solicitado no Formato CSV.***

In [17]:
df_covid.to_csv('covid_anon03.csv', index=None)

# ***Quarta Etapa***

### ***Realizando a Anonimização da Coluna 'Nascimento' Para o Nível 02.***

In [18]:
df_covid_and_regioes_new['Nascimento'] = df_covid_and_regioes_new['Nascimento'].str[:4]

### ***Alocando Variável ao Dataset Anonimizado para a Coluna 'Nascimento' de Todas As Faixas Etárias.***

In [19]:
df_covid_and_regioes_nasc_yaer_all = df_covid_and_regioes_new
df_covid_and_regioes_nasc_yaer_all

,Identificador,CodigoMunicipio,Municipio,Estado,Genero,Nascimento,ResultadoExame
0,c3ba634113e4b5eb0e3eaae93b09759b,231290,Noroeste Cearense,CE,MASCULINO,2003,Negativo
1,8db897c909c1c246b56ee491e0df994f,231290,Noroeste Cearense,CE,MASCULINO,1989,Negativo
2,17997c9bd21d9931ea130f1ca65236e9,231290,Noroeste Cearense,CE,FEMININO,2000,Negativo
3,25e5850e62482886d70efb3f8438aaa7,231290,Noroeste Cearense,CE,FEMININO,1954,Negativo
4,de7400d331c8521d71baa53409d8b4f8,231290,Noroeste Cearense,CE,MASCULINO,2002,Negativo
...,...,...,...,...,...,...,...
879538,8ca78bc532162483be4b9ec4c4bc5e64,231123,Jaguaribe,CE,FEMININO,1974,Negativo
879539,112a5ad7b915503baca248adcd32c6f5,231123,Jaguaribe,CE,MASCULINO,1941,Negativo
879540,4b3a7183752a62c90e2f59cac1d8a984,231123,Jaguaribe,CE,FEMININO,1984,Positivo
879541,3072ba3050b62e29449eca68420a3983,231123,Jaguaribe,CE,FEMININO,1991,Positivo
879542,9e3f99aa4a42ed405787b76f72291058,231123,Jaguaribe,CE,MASCULINO,1997,Negativo

### ***Exportando o Dataset Anonimizado 04 Conforme Solicitado no Formato CSV.***

In [20]:
df_covid_and_regioes_nasc_yaer_all.to_csv('covid_anon04.csv', index=None)

# Programa de Visualização dos Dados

In [23]:
class NewWindow(Toplevel):     
    def __init__(self, master = None, df=''):
         
        super().__init__(master = master)
        my_df = pd.read_csv(df)
        self.main = self.master
        self.main.geometry('600x400+200+100')
        self.main.title('Exibir datasets anonimalizados')
        f = Label(self, text ="This is a new Window")
        f.pack(fill=BOTH,expand=1)
        self.table = pt = Table(f, dataframe=my_df,
                                showtoolbar=True, showstatusbar=True)
        pt.show()
        return 
    
master = Tk()
master.title('Datasets Anonimalizados')
master.geometry('600x400+200+100')
 
label = Label(master, text ="Pressione um botão para exibir um Dataset")
label.pack(side = TOP, pady = 10)

btn1 = Button(master, text ="covid_anon01.csv")
btn1.bind("<Button>", lambda e: NewWindow(master, df='covid_anon01.csv'))
btn1.pack(side = TOP, pady = 10)


btn2 = Button(master, text ="covid_anon02.csv")
btn2.bind("<Button>", lambda e: NewWindow(master, df='covid_anon02.csv'))
btn2.pack(side = TOP, pady = 10)


btn3 = Button(master, text ="covid_anon03.csv")
btn3.bind("<Button>", lambda e: NewWindow(master, df='covid_anon03.csv'))
btn3.pack(side = TOP, pady = 10)


btn4 = Button(master, text ="covid_anon04.csv")
btn4.bind("<Button>", lambda e: NewWindow(master, df='covid_anon04.csv'))
btn4.pack(side = TOP, pady = 10)

mainloop()